#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.main-content{
  margin: 20px 0 0 0 !important;
  padding: 24px;
  min-height: calc( 100vh - 110px );
}
.logo{
  color: white;
  font-size: 26px;
}